/* See Soon - Coming Soon/Under Construction Responsive Template
Author: EGrappler.com
Tags: Dark, coming soon, under construction, black, one column
*/
@font-face {
  font-family: 'Smoolthan-Bold';
  src: url('../fonts/Smoolthan-Bold.eot');
  src: url('../fonts/Smoolthan-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Bold.woff2') format('woff2'),
       url('../fonts/Smoolthan-Bold.woff') format('woff'),
       url('../fonts/Smoolthan-Bold.ttf') format('truetype'),
       url('../fonts/Smoolthan-Bold.svg#Smoolthan-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Bold-Italic';
  src: url('../fonts/Smoolthan-Bold-Italic.eot');
  src: url('../fonts/Smoolthan-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Bold-Italic.woff2') format('woff2'),
       url('../fonts/Smoolthan-Bold-Italic.woff') format('woff'),
       url('../fonts/Smoolthan-Bold-Italic.ttf') format('truetype'),
       url('../fonts/Smoolthan-Bold-Italic.svg#Smoolthan-Bold-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Medium-Italic';
  src: url('../fonts/Smoolthan-Medium-Italic.eot');
  src: url('../fonts/Smoolthan-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Medium-Italic.woff2') format('woff2'),
       url('../fonts/Smoolthan-Medium-Italic.woff') format('woff'),
       url('../fonts/Smoolthan-Medium-Italic.ttf') format('truetype'),
       url('../fonts/Smoolthan-Medium-Italic.svg#Smoolthan-Medium-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Medium';
  src: url('../fonts/Smoolthan-Medium.eot');
  src: url('../fonts/Smoolthan-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Medium.woff2') format('woff2'),
       url('../fonts/Smoolthan-Medium.woff') format('woff'),
       url('../fonts/Smoolthan-Medium.ttf') format('truetype'),
       url('../fonts/Smoolthan-Medium.svg#Smoolthan-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Regular-Italic';
  src: url('../fonts/Smoolthan-Regular-Italic.eot');
  src: url('../fonts/Smoolthan-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Regular-Italic.woff2') format('woff2'),
       url('../fonts/Smoolthan-Regular-Italic.woff') format('woff'),
       url('../fonts/Smoolthan-Regular-Italic.ttf') format('truetype'),
       url('../fonts/Smoolthan-Regular-Italic.svg#Smoolthan-Regular-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan';
  src: url('../fonts/Smoolthan.eot');
  src: url('../fonts/Smoolthan.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan.woff2') format('woff2'),
       url('../fonts/Smoolthan.woff') format('woff'),
       url('../fonts/Smoolthan.ttf') format('truetype'),
       url('../fonts/Smoolthan.svg#Smoolthan') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Thin-Italic';
  src: url('../fonts/Smoolthan-Thin-Italic.eot');
  src: url('../fonts/Smoolthan-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Thin-Italic.woff2') format('woff2'),
       url('../fonts/Smoolthan-Thin-Italic.woff') format('woff'),
       url('../fonts/Smoolthan-Thin-Italic.ttf') format('truetype'),
       url('../fonts/Smoolthan-Thin-Italic.svg#Smoolthan-Thin-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Smoolthan-Thin';
  src: url('../fonts/Smoolthan-Thin.eot');
  src: url('../fonts/Smoolthan-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Smoolthan-Thin.woff2') format('woff2'),
       url('../fonts/Smoolthan-Thin.woff') format('woff'),
       url('../fonts/Smoolthan-Thin.ttf') format('truetype'),
       url('../fonts/Smoolthan-Thin.svg#Smoolthan-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-t8ep4r');
  src:url('../fonts/icomoon.eot?#iefix-t8ep4r') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?-t8ep4r') format('truetype'),
      url('../fonts/icomoon.woff?-t8ep4r') format('woff'),
      url('../fonts/icomoon.svg?-t8ep4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e600";
}

body{
    background:#202020;
    color:rgb(128,140,155);
    font:18px/28px 'Smoolthan', sans-serif;
    font-weight:300;
}

/* General  */

a, a:hover, a:focus{
    color:#fff;
}
a:hover{}
a:focus{
    outline:none;
}
h1, h2, h3, h4, h5, h6{
    font-family:'Smoolthan-Bold', sans-serif;
    margin:0;
    padding:0;
    font-weight:300;
	color:rgb(168,9,61);
    text-align:center;
}
h1{
    font-size:72px;
}
h2{
    font-size:40px;
}
h3{
    font-size:36px;
    font-family:'Smoolthan', sans-serif;
}
h4{
    font-family:'Smoolthan', sans-serif;
    font-size:30px;
}
h5{
    font-family:'Smoolthan', sans-serif;
    font-size:24px;
	color:#fff;
}
h6{
    font-family:'Smoolthan', sans-serif;
    font-size:18px;
}

.loader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:#000 url(../images/loader.gif) 50% 50% no-repeat;
}

/* Header  */

#header{}
.header-overlay{
    padding:30px 0;    
    background:rgba(255,255,255,0.9);    
}
     
.hexagon {
    position: relative;
    width: 70px; 
    height: 40.41px;
    background-color: #A8093D;
    margin: 90px auto 140px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 49.50px;
    height: 49.50px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 10.2513px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.hexagon:before {
    top: -24.7487px;
}

.hexagon:after {
    bottom: -24.7487px;
}

/*cover up extra shadows*/
.hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:70px;
    height:40.4145px;
    z-index: 2;
    background: inherit;
}

.logo{
    text-align:center;
    padding:30px 0;
    background:#05c3f9;
    width:12%;
    margin:0 auto;
}

.hexagon i { font-size: 50px;
    color: #fff;
    position: absolute;
    left: 20%;
    z-index: 10;
    top: -13%;
    text-shadow: none;
}

#header .main-head {}
#header .main-head h2,
#header .main-head h4 {
    font-weight:300;
}

#header .main-head h4{
    line-height:40px;
}
    
/* Countdown  */    
    
#countdown-area{
    padding:40px 0;
    margin:0 0 40px;
}
ul.countdown{
    list-style:none;
    margin:0;
    padding:0;
    display:block;
    text-align:center;
}
ul.countdown li{
    display:inline-block;
    margin:0 20px;
    padding:0;
}
ul.countdown li span{
    font-family:'Coustard', sans-serif;
    width:100px;
    display:block;
    font-size:48px;
}
ul.countdown li.seperator{
    font-size:80px;
    line-height:70px;
    vertical-align:top;
}
ul.countdown li p{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    text-transform:capitalize;
    margin:0;
    padding:15px 0 30px 0;
}

/* Main Heading Style Starts */

.main-head{
    padding:0 0 40px;
}
.main-head h2, .main-head p{}
.main-head h2{
    padding:0 0 20px;
}
.main-head p{
    font-size:24px;
    line-height:36px;
    text-align:justify;
    text-justify: inter-word;
}
        
/* Services */

#services{
/*    text-shadow: 1px 1px 1px 1px #fff;*/
    text-shadow: 1px 1px 0 #fff;
    color: #fff;
}
.sblock{
    border:1px solid transparent;
     -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
}
.sblock:hover {
    border:1px solid rgba(125, 140, 155, 0.5);
    background:rgba(128,140,155, 0.5);
}

#services p {
    font-size:16px;
}
.services-overlay{
    background:rgba(0,0,0,0.6);
    padding:70px 0;
}
#services-blocks{}
#services-blocks div{
    text-align:center;
    padding:20px 20px 30px 20px;
}
#services-blocks div span.fa {
    width:110px;
    height:110px;
    line-height:110px;
    font-size:60px;

    color:rgba(128,140,155,1);
    -webkit-border-radius:50%;
       -moz-border-radius:50%;
        border-radius:50%;
}
#services-blocks h4{
    padding:20px 0;
}

.services-overlay h5{text-shadow:0 0 0 #fff;}
/* Contact  */

input {
    border: 1px solid #fff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.#contact {
    background:#05c3f9;
    padding:50px 0;
}

.MT40 {
    color: #fff;margin-top:40px;
	text-shadow:2px 1px #000;
}
#contact p {
    color: #fff;
    font-size:16px;
    text-shadow:2px 1px #000;
}
#contact-area{}
#contact-area h3{
    padding:0 0 38px 0;
}
#contact-form{}
#contact-form .form-group {
    margin:0 0 20px;
}
#contact-form .form-control{
    font-size:16px;
    font-weight:400;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}
#contact-form .form-control:focus{
    border-color:#fff;
}
#contact-form input.form-control{
    height:40px;
    line-height:40px !important;
    padding:3px 20px 0;
}

/* Footer  */

#footer{
    color : #fff;
    padding:10px 0;
    margin-top:40px;
    font-size:13px;
    text-align:center;
    background:rgba(255,255,255,0.1)
}

#footer p {
    margin:10px;
    text-shadow:2px 1px #000;
}

/* Responsive */

/* Contact Style Starts */

#contact h3,
.address,
#contact-form .form-group {
    text-align:center;
}
#contact-area{
    padding-bottom:20px;
}

@media (max-width: 767px) {

/* Countdown Style Starts */

    ul.countdown li{
        display:inline-block;
        margin:5px;
        padding:0;
    }
    ul.countdown li span{
        width:100px;
        height:100px;
        display:block;
        font-size:48px;
        font-weight:300;
        line-height:100px;
        border:2px solid #fff;
        -webkit-border-radius:50%;
           -moz-border-radius:50%;
            border-radius:50%;
    }
    ul.countdown li p{
        padding:15px 0;
    }

/* Contact Style Starts */

#contact h3, .address, #contact-form .form-group{
    text-align:center;
}
#contact-area{
    padding-bottom:20px;
}

/* Footer Style Starts */

    #footer ul.sm-links li a span{
        width:45px;
        height:45px;
        line-height:42px;
        font-size:20px;
    }
    .copyright{
        font-size:16px;
    }
}
